html,
body,
#app-root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  font-family: sans-serif;
}

:local(.App) {
  padding: 2em;
}
