html,
body,
#app-root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  font-family: sans-serif;
}

:local(.App) {
  padding: 2em;

  details {
    & > summary {
      color: #777777;
      padding: 1em;

      &:focus {
        outline: none;

        border-bottom: solid 0.25em rgba(221, 221, 221, 1);
        margin-bottom: -0.25em;
        animation: SummaryFocusAnimation 1s forwards infinite ease-in-out;

        @keyframes SummaryFocusAnimation {
          0% {
            border-bottom: solid 0.25em rgba(221, 221, 221, 1);
          }
          50% {
            border-bottom: solid 0.25em rgba(221, 221, 221, 0);
          }
          100% {
            border-bottom: solid 0.25em rgba(221, 221, 221, 1);
          }
        }
      }
    }
  }

  .Row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }

    & > details,
    & > .Box {
      margin-left: 0.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  details,
  .Box {
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 10%, #ffffff 100%);
    border-top: solid 0.25em #dddddd;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    padding: 0;

    & > * {
      flex: 1;
    }

    &:before {
      content: '';
      width: 0.25em;
      height: 1.5em;
      background: #dddddd;
      position: absolute;
      margin: -0.25em 0 0 -0.25em;
    }

    details,
    & .Box {
      margin-top: 0.5em;
      margin-left: 0.5em;
    }

    & .Row {
      margin-left: 0.5em;
    }
  }

  button {
    background-color: #aaaaaa;
    color: #ffffff;
    appearance: none;
    border: solid 0 #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 2em;
    font-size: 1em;
    cursor: pointer;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:focus {
      outline: none;

      transition: none;
      animation: ButtonFocusBackgroundAnimation 1s forwards infinite ease-in-out;

      @keyframes ButtonFocusBackgroundAnimation {
        0% {
          background-color: #aaaaaa;
          color: #ffffff;
        }
        50% {
          background-color: #ffffff;
          color: unset;
        }
        100% {
          background-color: #aaaaaa;
          color: #ffffff;
        }
      }
    }

    &:active {
      background-color: #ffffff;
      color: unset;

      animation: none;
    }
  }

  textarea {
    min-height: 9em;
    resize: none;
  }

  textarea,
  input {
    background-color: #eeeeee;
    color: #777777;
    appearance: none;
    border: solid 0 #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    font-size: 1em;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:focus {
      outline: none;
      background: none;
      color: unset;

      border-bottom: solid 0.25em rgba(221, 221, 221, 1);
      margin-bottom: -0.25em;
      animation: InputFocusBorderAnimation 1s forwards infinite ease-in-out;

      @keyframes InputFocusBorderAnimation {
        0% {
          border-bottom: solid 0.25em rgba(221, 221, 221, 1);
        }
        50% {
          border-bottom: solid 0.25em rgba(221, 221, 221, 0);
        }
        100% {
          border-bottom: solid 0.25em rgba(221, 221, 221, 1);
        }
      }
    }
  }

  textarea {
    &:focus {
      margin-bottom: 0;
    }
  }

  code {
    background: none;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    display: inline-block;
    font-size: 1.25em;
    color: #000000;
  }
}
