html,
body,
#app-root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  font-family: sans-serif;
}

:local(.App) {
  width: 100vw;
  padding: 4em;

  .Box {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #efefef 0%, #ffffff 10%, #ffffff 100%);
    border-left: solid 0.5px #dddddd;
    border-top: solid 0.5px #dddddd;
  }

  input {
    background: none;
    appearance: none;
    border: solid 0 #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
  }

  code {
    background: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
    display: inline-block;
  }
}
